@import 'reset.css';



// Grid Framework Starts Here
.row{
    display: flex;
    flex-wrap: wrap;
   
}

$columns: 12;

@for $i from 1 through $columns {
    .col-#{$i}{
        flex: 0 0 100%/ $columns * $i;
    }
}

// Text Alignment Starts Here

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}


// Headings are Here

.hd{
    font-size: 2.5rem;
    font-weight: bolder;
    line-height: 1.2;
    padding: 5px;
}

.sub-hd{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.2;
    padding: 5px;
}

.small-hd{
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.2;
    padding: 5px;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}



// Buttons are Here

.btn-1{
    background: linear-gradient(#49708f, #293f50);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    padding: 8px 16px;
    margin: 5px;
    text-decoration: none;
}

// Resposnive Image Class 

.img-res{
    max-width: 100%;
    height: auto;
}

// Floats are here
.float-left{
    float: left;
}

.float-right{
    float: right;
}

// Container class is here
.con-large{
    width: 90%;
    margin: 0 auto;
}
.con-small{
    width: 70%;
    margin: 0 auto;
}

.con-medium{
    width: 80%;
    margin: 0 auto;
}

// Colors start here

.black{
    color: #000;
}

.white{
    color: #fff;
}

.gray-1{
    color: #696969;
}

.gray-2{
    color: #808080;
}

.gray-3{
    color: #A9A9A9;
}

.gray-4{
    color: #C0C0C0;
}

.gray-5{
    color: #DCDCDC;
}










