@import url(/Users/sumaerjolly/Desktop/grid-based-framework/style/reset.css);
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
}

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
}

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
}

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
}

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
}

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.hd {
  font-size: 2.5rem;
  font-weight: bolder;
  line-height: 1.2;
  padding: 5px;
}

.sub-hd {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
  padding: 5px;
}

.small-hd {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.2;
  padding: 5px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.btn-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#49708f), to(#293f50));
  background: linear-gradient(#49708f, #293f50);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 8px 16px;
  margin: 5px;
  text-decoration: none;
}

.img-res {
  max-width: 100%;
  height: auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.con-large {
  width: 90%;
  margin: 0 auto;
}

.con-small {
  width: 70%;
  margin: 0 auto;
}

.con-medium {
  width: 80%;
  margin: 0 auto;
}

.black {
  color: #000;
}

.white {
  color: #fff;
}

.gray-1 {
  color: #696969;
}

.gray-2 {
  color: #808080;
}

.gray-3 {
  color: #A9A9A9;
}

.gray-4 {
  color: #C0C0C0;
}

.gray-5 {
  color: #DCDCDC;
}

.border-btm {
  border-bottom: #272727 solid 1px;
  padding: 5px 0;
}

.border-top {
  border-top: #808080 solid 1px;
  padding: 5px 0;
}

.border-right {
  border-right: #808080 solid 1px;
  padding: 5px 0;
}

.border-left {
  border-left: #808080 solid 1px;
  padding: 5px 0;
}

nav {
  background-color: #303031;
  height: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav li {
  display: inline-block;
  width: 9%;
  color: white;
  list-style: none;
  padding-top: 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav .logo {
  font-size: 22px;
}

nav .buy {
  width: 11%;
}

nav .search-box {
  position: absolute;
  -webkit-transform: translate(-10%, -10%);
          transform: translate(-10%, -10%);
  background-color: #303031;
  height: 30px;
  padding-top: 14px;
}

nav .search-btn {
  color: white;
  float: right;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .search-txt {
  border: none;
  background-color: none;
  float: left;
  outline: none;
  padding: 0;
  color: #303031;
  font-size: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  line-height: 30px;
  width: 0;
}

nav .search-box:hover > .search-txt {
  width: 150px;
  padding: 0 6px;
}

nav .search-box:hover > .search-btn {
  background-color: white;
  float: right;
  display: none;
}

.small-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #303031;
}

.small-nav a {
  text-decoration: none;
  color: white;
}

.small-nav .small-nav-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.small-nav .small-logo {
  position: absolute;
  left: 50%;
}

.small-nav ul {
  list-style: none;
}

.small-nav .nav-content {
  position: absolute;
  top: 80px;
  overflow: hidden;
  background-color: black;
  height: 0;
}

.small-nav .nav-sub {
  padding: 20px;
}

.small-nav .nav-sub ul li a {
  display: inline-block;
  padding: 10px 0;
  font-size: 20px;
  line-height: 1.5;
}

.small-nav .nav-sub li {
  margin: 0 40px;
}

.small-nav .nav-sub li:first-child {
  margin: 0;
}

.small-nav .nav-item {
  padding-left: 20px;
}

.small-nav .nav-item:focus ~ .nav-content {
  height: 100vh;
  width: 100%;
}

.small-nav .search-txt-2 {
  width: 95%;
  background-color: #303031;
  color: white;
  height: 35px;
  border: none;
}

.small-nav button i {
  vertical-align: top;
}
/*# sourceMappingURL=layout.css.map */