@import 'reset.css';
// Grid Framework Starts Here
.row {
    display: flex;
    flex-wrap: wrap;
}

$columns: 12;
@for $i from 1 through $columns {
    .col-#{$i} {
        flex: 0 0 100%/ $columns * $i;
    }
}

// Text Alignment Starts Here
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

// Headings are Here
.hd {
    font-size: 2.5rem;
    font-weight: bolder;
    line-height: 1.2;
    padding: 5px;
}

.sub-hd {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.2;
    padding: 5px;
}

.small-hd {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.2;
    padding: 5px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

// Buttons are Here
.btn-1 {
    background: linear-gradient(#49708f, #293f50);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    padding: 8px 16px;
    margin: 5px;
    text-decoration: none;
}

// Resposnive Image Class 
.img-res {
    max-width: 100%;
    height: auto;
}

// Floats are here
.float-left {
    float: left;
}

.float-right {
    float: right;
}

// Container class is here
.con-large {
    width: 90%;
    margin: 0 auto;
}

.con-small {
    width: 70%;
    margin: 0 auto;
}

.con-medium {
    width: 80%;
    margin: 0 auto;
}

// Colors start here
.black {
    color: #000;
}

.white {
    color: #fff;
}

.gray-1 {
    color: #696969;
}

.gray-2 {
    color: #808080;
}

.gray-3 {
    color: #A9A9A9;
}

.gray-4 {
    color: #C0C0C0;
}

.gray-5 {
    color: #DCDCDC;
}

// Borders are here

.border-btm{
    border-bottom: rgb(39, 39, 39) solid 1px;
    padding: 5px 0;
}
.border-top{
    border-top: #808080 solid 1px;
    padding: 5px 0 ;
}
.border-right{
    border-right: #808080 solid 1px;
    padding: 5px 0 ;
}
.border-left{
    border-left: #808080 solid 1px;
    padding: 5px 0 ;
}

// Our site clone Scss starts here
$nav-col: #303031;
nav {
    background-color: $nav-col;
    height: 50px;
    position: sticky;
    top: 0;
    li {
        display: inline-block;
        width: 9%;
        color: white;
        list-style: none;
        padding-top: 10px;
    }
    a {
        color: white;
        text-decoration: none;
    }
    .logo {
        font-size: 22px;
    }
    .buy {
        width: 11%;
    }
    .search-box {
        position: absolute;
        transform: translate(-10%, -10%);
        background-color: $nav-col;
        height: 30px;
        padding-top: 14px;
    }
    .search-btn {
        color: white;
        float: right;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }
    .search-txt {
        border: none;
        background-color: none;
        float: left;
        outline: none;
        padding: 0;
        color: $nav-col;
        font-size: 16px;
        transition: 0.5s;
        line-height: 30px;
        width: 0;
    }
    .search-box:hover>.search-txt {
        width: 150px;
        padding: 0 6px;
    }
    .search-box:hover>.search-btn {
        background-color: white;
        float: right;
        display: none;
    }
}

.small-nav{
    display: flex;
    width: 100%;
    background-color: $nav-col;

    a{
        text-decoration: none;
        color: white;
    }

    .small-nav-2{
        display: flex;
        width: 100%;
    }
    .small-logo{
        position: absolute;
        left: 50%;
       


    }
    ul{
        list-style: none;
    }

    .nav-content{
        position: absolute;
        top: 80px;
        overflow: hidden;
        background-color: black;
        height: 0;

    }

    .nav-sub{
        padding: 20px;

        ul li a{
            display: inline-block;
            padding: 10px 0;
            font-size: 20px;
            line-height: 1.5;
        }

        li{
            margin: 0 40px;
            &:first-child{
                margin: 0;
            } 
        }

       
    }

    .nav-item{
        &:focus ~ .nav-content{
            height: 100vh;
            width: 100%;
            
        }

        padding-left: 20px;
    }

    .search-txt-2{
        width: 95%;
        background-color: $nav-col;
        color: white;
        height: 35px;
        border: none;
    }

    button i{
        vertical-align: top;
    }




    

} 