nav {
  background-color: #303031;
  height: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav li {
  display: inline-block;
  width: 9%;
  color: white;
  list-style: none;
  padding-top: 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav .logo {
  font-size: 22px;
}

nav .buy {
  width: 11%;
}

nav .search-box {
  position: absolute;
  -webkit-transform: translate(-10%, -10%);
          transform: translate(-10%, -10%);
  background-color: #303031;
  height: 30px;
  padding-top: 14px;
}

nav .search-btn {
  color: white;
  float: right;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .search-txt {
  border: none;
  background-color: none;
  float: left;
  outline: none;
  padding: 0;
  color: #303031;
  font-size: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  line-height: 30px;
  width: 0;
}

nav .search-box:hover > .search-txt {
  width: 150px;
  padding: 0 6px;
}

nav .search-box:hover > .search-btn {
  background-color: white;
  float: right;
  display: none;
}

.small-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #303031;
}

.small-nav a {
  text-decoration: none;
  color: white;
}

.small-nav .small-nav-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.small-nav .small-logo {
  position: absolute;
  left: 50%;
}

.small-nav ul {
  list-style: none;
}

.small-nav .nav-content {
  position: absolute;
  top: 32px;
  overflow: hidden;
  background-color: black;
  height: 0;
}

.small-nav .nav-sub {
  padding: 20px;
}

.small-nav .nav-sub ul li a {
  display: inline-block;
  padding: 10px 0;
  font-size: 20px;
  line-height: 1.5;
}

.small-nav .nav-sub li {
  margin: 0 40px;
}

.small-nav .nav-sub li:first-child {
  margin: 0;
}

.small-nav .nav-item {
  padding-left: 20px;
}

.small-nav .nav-item:focus ~ .nav-content {
  height: 100vh;
  width: 100%;
}

.small-nav .search-txt-2 {
  width: 95%;
  background-color: #303031;
  color: white;
  height: 35px;
  border: none;
}

.small-nav button i {
  vertical-align: top;
}

.content {
  background-color: #fafafa;
  cursor: pointer;
  padding-top: 30px;
}

.content .content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .content1 a {
  padding-top: 15px;
  text-decoration: none;
  color: #1d70c9;
  font-size: 20px;
}

.content .content1 a:hover {
  text-decoration: underline;
}

.content .content2 {
  text-align: center;
}

.content img {
  width: 65%;
}

.content .r-class {
  position: relative;
}

.content .r-class::after {
  content: "  R";
  font-size: 20px;
  border: 3px solid #000;
  padding: 0 5px;
  border-radius: 5px;
  vertical-align: middle;
  position: absolute;
  top: 6px;
  margin-left: 8px;
  right: -25%;
}

.section-2 {
  background-color: #fafafa;
  margin-top: 12px;
  padding-top: 30px;
  cursor: pointer;
}

.section-2 .section-2-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-2 .section-2-a a {
  padding-top: 15px;
  text-decoration: none;
  color: #1d70c9;
  font-size: 20px;
}

.section-2 .section-2-a a:hover {
  text-decoration: underline;
}

.section-2 .section-2-b {
  text-align: center;
}

.section-2 img {
  width: 75%;
}

.section-2 .r-class {
  position: relative;
}

.section-2 .r-class::after {
  content: "  S";
  font-size: 20px;
  border: 3px solid #000;
  padding: 0 5px;
  border-radius: 5px;
  vertical-align: middle;
  position: absolute;
  top: 6px;
  margin-left: 8px;
  right: -25%;
}

.section-3 {
  background-color: #fafafa;
  margin-top: 12px;
  padding-top: 30px;
  cursor: pointer;
}

.section-3 .section-3-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-3 .section-3-a a {
  padding-top: 15px;
  text-decoration: none;
  color: #1d70c9;
  font-size: 20px;
}

.section-3 .section-3-a a:hover {
  text-decoration: underline;
}

.section-3 .section-3-b {
  text-align: center;
}

.section-3 img {
  width: 70%;
}

.section-3 .series {
  color: #c92e2a;
  font-size: 18px;
  font-weight: bold;
}

.wwdc {
  background: url(../images/applemonkey.jpg) no-repeat;
  background-size: cover;
  height: 500px;
  background-position: bottom;
  color: white;
  text-align: center;
  padding-top: 40px;
  margin: 15px 0;
}

.wwdc a {
  text-decoration: none;
  color: white;
  padding-top: 15px;
  display: block;
}

.music {
  background: url(../images/applemusic2x.jpg) no-repeat;
  background-size: cover;
  height: 500px;
  background-position: bottom;
  color: white;
  text-align: center;
  padding-top: 40px;
  margin: 15px 0;
}

.music a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding-top: 15px;
  padding-right: 10px;
}

.tv {
  background: url(../images/appletv.jpg) no-repeat;
  background-size: cover;
  height: 500px;
  background-position: bottom;
  color: white;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 15px;
}

.tv a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding-top: 15px;
  padding-right: 10px;
}

.arcade {
  background: url(../images/applearcade.jpg) no-repeat;
  background-size: cover;
  height: 500px;
  background-position: bottom;
  color: white;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 15px;
}

.arcade a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding-top: 15px;
  padding-right: 10px;
}

.ipad {
  background: #fafafa;
  height: 500px;
  color: black;
  text-align: center;
  padding-top: 40px;
  overflow: hidden;
}

.ipad a {
  text-decoration: none;
  color: #1d70c9;
  display: inline-block;
  padding-top: 15px;
  padding-right: 10px;
}

.ipad img {
  width: 60%;
  padding-top: 40px;
}

.macbook {
  background: #fafafa;
  height: 500px;
  color: black;
  text-align: center;
  padding-top: 40px;
  overflow: hidden;
}

.macbook a {
  text-decoration: none;
  color: #1d70c9;
  display: inline-block;
  padding-top: 15px;
  padding-right: 10px;
}

.macbook img {
  width: 80%;
  padding-top: 90px;
}

footer {
  background-color: #fafafa;
  margin-top: 20px;
}

footer .footer-links {
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 8px;
}

footer .pb {
  margin-bottom: 25px;
}

footer .ls {
  color: #909090;
  font-size: 13px;
  font-weight: normal;
}

footer .footer1 {
  border-bottom: 1px solid #d6d6d6;
  padding: 10px 10px 20px 0;
}

footer .footer1 p {
  color: #909090;
  font-size: 13px;
  font-weight: normal;
}

footer a {
  text-decoration: none;
  color: #575757;
  padding-top: 15px;
  font-size: 13px;
  display: block;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  padding-top: 25px;
  color: #333333;
  font-size: 13px;
  font-weight: bold;
}

footer .last-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

footer .last-footer a {
  color: #575757;
  text-decoration: none;
  padding: 15px;
}

footer .last-footer span {
  color: #575757;
  padding: 15px;
}

.small-nav {
  display: none;
}

@media screen and (max-width: 1040px) {
  nav li a {
    font-size: 14px;
  }
  .nav-large {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  nav {
    display: none;
  }
  .small-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .first-row {
    display: block;
    width: 95%;
  }
  .second-row {
    display: block;
    width: 95%;
  }
  .third-row {
    display: block;
    width: 95%;
  }
  .ipad {
    margin-bottom: 15px;
  }
  .footer-links {
    width: 90%;
  }
  .footer-links a {
    font-size: 12px;
  }
  footer {
    background-color: #f0f0f0;
  }
  .pb {
    display: block;
  }
  .pb a {
    display: none;
  }
  .pb p {
    display: block;
    border-bottom: solid 1px #d6d6d6;
    padding: 10px 0;
    cursor: pointer;
    color: #3c3c3c;
    font-weight: normal;
  }
  .last-footer {
    width: 90%;
  }
  .last-footer a {
    font-size: 12px;
  }
  .hd {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.3;
  }
  .sub-hd {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.1;
  }
  .small-hd {
    font-size: 1.1rem;
  }
  .section-2 .r-class {
    position: relative;
  }
  .section-2 .r-class::after {
    content: "  S";
    font-size: 15px;
    border: 3px solid #000;
    padding: 0 5px;
    border-radius: 5px;
    vertical-align: middle;
    position: absolute;
    top: 6px;
    margin-left: 8px;
    right: -25%;
  }
  .content .r-class {
    position: relative;
  }
  .content .r-class::after {
    content: "  R";
    font-size: 15px;
    border: 3px solid #000;
    padding: 0 5px;
    border-radius: 5px;
    vertical-align: middle;
    position: absolute;
    top: 6px;
    margin-left: 8px;
    right: -25%;
  }
}
/*# sourceMappingURL=main.css.map */